<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>BlogSensu - Authors</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>

    <%= stylesheet_link_tag "authors", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "authors", "data-turbo-track": "reload" %>
    <%# <script type="module" data-turbo-track="reload">
      import railsActiontext from 'https://cdn.skypack.dev/@rails/actiontext';
    </script>
    %>
    <script type="module" data-turbo-track="reload">
      import trix from 'https://cdn.skypack.dev/trix';
    </script>
    <%# <%= javascript_importmap_tags %>
  </head>
  <body class="sidebar-mini layout-fixed authors" style="height: auto;">
    <div class="wrapper">
      <%= render partial: "/layouts/partials/authors/header" %>
    </div>
    <div class="wrapper">
      <%= render partial: "/layouts/partials/authors/sidebar" %>
      <div class="content-wrapper">
        <%= render partial: "/layouts/partials/authors/page_header" %>
        <div class="content">
          <div class="container-fluid">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "/layouts/partials/authors/footer" %>
  </body>
</html>
